h3 {
    font-size: 1.2em;
    padding: 0.5em 0;
}

p {
    line-height: 1.2;
}

.active-listings {
    background: darkgrey;
    color: white
}

.item-ad {
    background: white;
    color: black;
    margin: 1em 0;
    padding: 0.5em;
    border-radius: 5px;
}