h3 {
    font-size: 1.2em;
    padding: 0.5em 0;
}

p {
    line-height: 1.2;
}

.active-listings {
    background: #627084;
    color: white;
}

.active-listings-container {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.item-listing {
    background: white;
    color: black;
    margin: 1em 0;
    padding: 0.5em;
    border-radius: 3px;
}

.item-listing > p {
    font-size: 0.9em;
    margin-bottom: 0.3em;
}

.item-listing > button, .active-listings-container > button {
    border: none;
    background-color: #3c415e;
    border-radius: 3px;
    color: #dfe2e2;
    margin-right: 0.2em;
    font-size: 0.8em;
    padding: 0.3em 0.5em;
}

.active-listings-container > button:hover, .active-listings-container > button:focus {
    background-color: white;
    color: #3c415e;
}

.delete-listing:hover {
    background-color: #B22222;
}