.add-listing {
    background: white;
    color: black;
    margin: 1em 0;
    padding: 0.5em;
    border-radius: 3px;
}

.new-listing label {
    color: black;
}

.new-listing > button {
    border: none;
    background-color: #3c415e;
    border-radius: 3px;
    color: #dfe2e2;
    margin-right: 0.2em;
    font-size: 0.8em;
    padding: 0.3em 0.5em;
}
/* 
.new-listing > button:hover, .new-listing > button:focus {
    background-color: white;
    color: #3c415e;
} */