section {
    padding: 0.2em 1em 0.5em;
}

h2 {
    font-size: 1.5em;
    margin: 0.5em 0;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

p {
    line-height: 1.2;
}

button {
    border: none;
}

.facts-container {
    background-color: black;
    color: #dfe2e2;
    padding-bottom: 0.8em;
    text-align: center;
}

.app-description {
    text-align: center;
    color: #3c415e;
}

.direct-to-signup {
    display: flex;
    justify-content: center;
}

#button-to-signup {
    border: none;
    border-radius: 5px;
    background-color: #3c415e;
    color: white;
    font-size: 1em;
    padding: 0.8em 1em;
}

#button-to-signup:hover, #button-to-signup:focus {
    background-color: #627084;
}
