.login-container{
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.switch-form-button {
    border: none;
    font-size: 1em;
    text-decoration: underline;
    background-color: white;
}

.switch-form-button:hover, .switch-form-button:focus  {
    color: #1AC8ED;
    background-color: white;
}