nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #3c415e;
    z-index: 1;
}

.nav-container {
    display: flex;
    justify-content: flex-end;
}

.nav-link {
    padding: 0.5em;
    font-weight: bold;
    color: white;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 0.7em;
}

.nav-link > a {
    color: #dfe2e2;
    text-decoration: none;
}

.nav-link > a:hover, .nav-link > a:focus  {
    color: #1cb3c8;
}