nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: black;
    z-index: 1;
}

.nav-container {
    display: flex;
    justify-content: flex-end;
}

.nav-link {
    padding: 0.5em;
    font-weight: bold;
    color: white;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 0.7em;
}

.nav-link:hover, .nav-link:focus  {
    background-color: darkgrey;
}
