.listings-in-area {
    background: #627084;
    color: white;
    padding: 0.2em 1em 0.5em;
}

.other-listings-container {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.listings-in-area button {
    border: none;
    font-size: 0.8em;
    padding: 0.3em 0.5em;
    border-radius: 3px;
}

.other-listing {
    color: white;
    margin: 1em 0;
    padding: 0.5em;
    border-radius: 3px;
    background-color: #3c415e;
}

.other-listing > p {
    font-size: 0.9em;
    margin-bottom: 0.3em;
}

.other-listings-container > button:hover, .other-listings-container > button:focus {
    background-color:#3c415e;
    color: white;
}