.listings-in-area {
    background: #738598;
    color: white;
}

.listings-in-area > button, .other-listing > button {
    border: none;
    font-size: 0.8em;
    padding: 0.3em 0.5em;
    border-radius: 3px;
}

.other-listing {
    /* background: darkgrey; */
    color: white;
    margin: 1em 0;
    padding: 0.5em;
    border-radius: 3px;
    border: 2px solid #3c415e;
}

.other-listing > p {
    font-size: 0.9em;
    margin-bottom: 0.3em;
}

.other-listing > button:hover, .other-listing > button:focus, .listings-in-area > button:hover, .listings-in-area > button:focus{
    background-color:#3c415e;
    color: white;
}